openapi: 3.0.0
info:
  title: Zelda BotW API Spanish Version
  description: "API per gestionar els materials i monstres de Zelda: Breath of the Wild.<br>
    Aquesta API permet realitzar operacions CRUD sobre els materials i monstres de Zelda: Breath of the Wild.<br>
    Es tracta d'una API de practica per fer peticions asincrones amb JS i de pas tenir una API en la versi贸 en espanyol de Zelda: Breath of the Wild.<br>
    Esta basada en **[Hyrule Compendium API](https://gadhagod.github.io/Hyrule-Compendium-API/#/compendium-api)** by  Aarav Borthakur.\n
    "
     
  version: 1.0.0

servers:
  - url: http://localhost:3001
    description: "Servidor local de desenvolupament"

paths:
  /materials:
    get:
      summary: "Obtenir tots els materials"
      tags:
        -  Materials
      description: "Retorna una llista de tots els materials disponibles a la base de dades."
      responses:
        "200":
          description: "Llista de materials retornada amb 猫xit"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Material"

    post:
      summary: "Crear un nou material"
      tags:
        -  Materials
      description: "Afegeix un nou material a la base de dades."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Material"
      responses:
        "201":
          description: "Material creat correctament"
        "400":
          description: "Error en la petici贸"
  
  /materials/{id_num}:
    get:
      summary: "Obtenir un material per ID"
      tags:
        -  Materials
      description: "Retorna la informaci贸 d'un material espec铆fic basant-se en el seu id_num."
      parameters:
        - name: id_num
          in: path
          required: true
          description: "ID del material a buscar"
          schema:
            type: integer
      responses:
        "200":
          description: "Material trobat"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Material"
        "404":
          description: "Material no trobat"

    put:
      summary: "Actualitzar un material per ID"
      tags:
        -  Materials
      description: "Modifica la informaci贸 d'un material existent."
      parameters:
        - name: id_num
          in: path
          required: true
          description: "ID del material a actualitzar"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Material"
      responses:
        "200":
          description: "Material actualitzat correctament"
        "404":
          description: "Material no trobat"

    delete:
      summary: "Eliminar un material per ID"
      tags:
        -  Materials
      description: "Elimina un material de la base de dades."
      parameters:
        - name: id_num
          in: path
          required: true
          description: "ID del material a eliminar"
          schema:
            type: integer
      responses:
        "200":
          description: "Material eliminat correctament"
        "404":
          description: "Material no trobat"
  /materials/name/{name}:
    get:
      summary: "Obtenir un material per nom"
      tags:
        -  Materials
      description: "Retorna la informaci贸 d'un material espec铆fic basant-se en el seu nom."
      parameters:
        - name: name
          in: path
          required: true
          description: "Nom del material a buscar"
          schema:
            type: string
      responses:
        "200":
          description: "Material trobat"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Material"
        "404":
          description: "Material no trobat"  
  /monsters:
    get:
      summary: "Obtenir tots els monstres"
      tags:
        -  Monsters
      description: "Retorna una llista de tots els monstres disponibles a la base de dades."
      responses:
        "200":
          description: "Llista de monstres retornada amb 猫xit"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Monster"

    post:
      summary: "Crear un nou monstre"
      tags:
        -  Monsters
      description: "Afegeix un nou monstre a la base de dades."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Monster"
      responses:
        "201":
          description: "Monstre creat correctament"
        "400":
          description: "Error en la petici贸"

  /monsters/{id_num}:
    get:
      summary: "Obtenir un monstre per ID"
      tags:
        -  Monsters  
      description: "Retorna la informaci贸 d'un monstre espec铆fic basant-se en el seu id_num."
      parameters:
        - name: id_num
          in: path
          required: true
          description: "ID del monstre a buscar"
          schema:
            type: integer
      responses:
        "200":
          description: "Monstre trobat"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monster"
        "404":
          description: "Monstre no trobat"

    put:
      summary: "Actualitzar un monstre per ID"
      tags:
        -  Monsters
      description: "Modifica la informaci贸 d'un monstre existent."
      parameters:
        - name: id_num
          in: path
          required: true
          description: "ID del monstre a actualitzar"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Monster"
      responses:
        "200":
          description: "Monstre actualitzat correctament"
        "404":
          description: "Monstre no trobat"

    delete:
      summary: "Eliminar un monstre per ID"
      tags:
        -  Monsters
      description: "Elimina un monstre de la base de dades."
      parameters:
        - name: id_num
          in: path
          required: true
          description: "ID del monstre a eliminar"
          schema:
            type: integer
      responses:
        "200":
          description: "Monstre eliminat correctament"
        "404":
          description: "Monstre no trobat"

  /votes:
    get:
      summary: Obtenir el nombre total de vots per id_num
      tags:
        -  Votes
      responses:
        '200':
          description: Llista de vots totals per cada 铆tem votat
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id_num:
                      type: integer
                      example: 167
                    total:
                      type: integer
                      example: 10
        '500':
          description: Error del servidor

    post:
          summary: Crear un nou vot
          tags:
            -  Votes
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - id_num
                    - user_id
                    - value
                  properties:
                    id_num:
                      type: integer
                      example: 119
                    user_id:
                      type: string
                      format: uuid
                      example: 84523a48-2c6a-49b5-92d4-8a72b8c3e847
                    value:
                      type: integer

                      example: 1
          responses:
            '201':
              description: Vot creat correctament
            '400':
              description: Error de validaci贸 o petici贸 incorrecta

components:
  schemas:
    Material:
      type: object
      properties:
        id_num:
          type: integer
          example: 168
        name:
          type: string
          example: "Durian Vivaz"
        category:
          type: string
          example: "materiales"
        common_locations:
          type: array
          items:
            type: string
          example: ["Necluda Occidental",
              "Praderas de Farone"]
        cooking_effect:
          type: string
          example: "Corazones extra"       
        description:
          type: string
          example: "El fuerte olor de esta fruta le ha ganado el apodo de \"rey de las frutas\". Ofrece inmensos poderes restauradores; los platos cocinados con ella aumentar谩n temporalmente tus corazones m谩ximos."
        hearts_recovered:
          type: integer
          example: 3  
        image:
          type: string
          format: uri
          example: "https://botw-compendium.herokuapp.com/api/v3/compendium/entry/hearty_durian/image"
    Monster:
      type: object
      properties:
        id_num:
          type: integer
          example: 119
        name:
          type: string
          example: "Lizalfos El茅ctrico"
        category:
          type: string
          example: "monstruos"
        common_locations:
          type: array
          items:
            type: string
          example: ["Desierto de Gerudo", "Cordillera de Hyrule"]
        description:
          type: string
          example: "Estos monstruos con forma de lagarto y gran astucia se pueden encontrar por todo Hyrule."
        drops:
          type: array
          items:
            type: string
          example: ["Cuerno de Lizalfos", "Cola de Lizalfos"]
        image:
          type: string
          format: uri
          example: "https://botw-compendium.herokuapp.com/api/v3/compendium/entry/electric_lizalfos/image"
    Vote:
      type: object
      properties:
        id_num:
          type: integer
          example: 119
        user_id:
          type: string
          format: uuid
          example: 84523a48-2c6a-49b5-92d4-8a72b8c3e847
        value:
          type: integer
          example: 1